# This is a basic workflow to help you get started with Actions

name: Build MacOS

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

#env:
#    BOOST_ROOT : "/usr/local/share/boost/1.69.0" 
#    Boost_INCLUDE_DIR : "/usr/local/share/boost/1.69.0/libs/headers"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: Install depends
      run: |
        brew install cmake boost google-sparsehash 
        brew install flex bison
    
    - name: Build 
      uses: lukka/run-cmake@v2.5
      with:
        cmakeListsOrSettingsJson: CMakeListsTxtBasic
        #cmakeListsTxtPath: "${{ github.workspace }}/CMakeLists.txt"
        cmakeAppendedArgs: '-DBISON_EXECUTABLE=/usr/local/opt/bison/bin/bison -DFLEX_EXECUTABLE=/usr/local/opt/flex/bin/flex'
        cmakeBuildType: Release
        cmakeGenerator: UnixMakefiles
        buildDirectory: '${{runner.workspace}}/build'     
    - name: Upload artifacts 
      uses: actions/upload-artifact@v2
      with:
        name: verifydtapn-linux64
        path: '${{runner.workspace}}/build/bin/verifydtapn-linux64'
