name: Build MacOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [synchronize, opened, reopened, ready_for_review]
  workflow_dispatch:  

concurrency: 
  group: build-MacOS-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.event.pull_request.draft == false
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v2
    - name: Check architecture
      shell: bash
      run: |
        if [ $(uname -m) != "x86_64" ] 
        then 
            echo "$(uname -m) detected. This test must be run on x86_64"
            exit -1
        fi
        exit 0
    
    - name: Install depends
      run: |
        brew install cmake flex bison
    
    - name: Prebuild
      run: |
        mkdir build && cd build
        CC=gcc-14 CXX=g++-14 cmake ../ -DCMAKE_BUILD_TYPE=Prebuild -DBISON_EXECUTABLE=/usr/local/opt/bison/bin/bison -DFLEX_EXECUTABLE=/usr/local/opt/flex/bin/flex
        make

    - name: Build 
      run: |
        cd build
        CC=gcc-14 CXX=g++-14 cmake ../ -DCMAKE_BUILD_TYPE=Release -DBISON_EXECUTABLE=/usr/local/opt/bison/bin/bison -DFLEX_EXECUTABLE=/usr/local/opt/flex/bin/flex
        make

    - name: Upload artifacts 
      uses: actions/upload-artifact@v4
      with:
        name: verifydtapn-osx64
        path: '${{github.workspace}}/build/verifydtapn/bin/verifydtapn-osx64'
