name: Build Windows (Cross Compile)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [synchronize, opened, reopened, ready_for_review]
  workflow_dispatch:  

concurrency: 
  group: build-win-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install depends
      run: |
        sudo apt-get update
        sudo apt-get install flex bison libsparsehash-dev mingw-w64-x86-64-dev mingw-w64-tools g++-mingw-w64-x86-64 wine wine-binfmt
    
    - name: Setup Dependency
      run: | 
        TARGET=x86_64-w64-mingw32
        ADDRM=64
        MTUNE=generic

        CORES=$(nproc || 1)

        export CC=x86_64-w64-mingw32-gcc
        export CXX=x86_64-w64-mingw32-g++

        mkdir -p EXT
        export PREFIX="$(pwd)/EXT"
        
        sudo apt install unzip
        wget https://github.com/sparsehash/sparsehash/archive/sparsehash-2.0.4.zip
        unzip sparsehash-2.0.4.zip

        cd sparsehash-sparsehash-2.0.4

        ./configure --prefix=$PREFIX CXXFLAGS=-std=c++11 --host win
        make
        make install

        cd ..

    - name: Prebuild
      run: | 
        mkdir build && cd build
        cmake ../ -DCMAKE_TOOLCHAIN_FILE=../toolchain-x86_64-w64-mingw32.cmake -DCMAKE_BUILD_TYPE=Prebuild
        make

    - name: Build
      run: | 
        export PREFIX="$(pwd)/EXT"
        cd build
        cmake ../ -DCMAKE_TOOLCHAIN_FILE=../toolchain-x86_64-w64-mingw32.cmake -DCMAKE_BUILD_TYPE=Release
        CPATH=$PREFIX/include make
    
    - name: Upload artifacts 
      uses: actions/upload-artifact@v2
      with:
        name: verifydtapn-win64
        path: '${{runner.workspace}}/verifydtapn/build/verifydtapn/bin/verifydtapn-win64.exe'
